/********** FONTS **********/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script&family=Kaushan+Script&family=Pacifico&family=Parisienne&family=Roboto:wght@500&family=Satisfy&display=swap');

/********** COLORS **********/

$firstcolor: #579C87;
$secondcolor: #FDCB46;

/********** VARIABLES **********/

$heightheader: 120px;
