/********** FONTS **********/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script&family=Kaushan+Script&family=Pacifico&family=Parisienne&family=Roboto:wght@500&family=Satisfy&display=swap');

/********** COLORS **********/

$firstcolor: #579C87;
$secondcolor: #FDCB46;
$backnote: #FCDFDB;
$colornote: #3C1218;
$backchic: #FFF5FE;
$colorchic: #D8852E;
$backdelice: #F9F9F9;
$colordelice: #0431DF;
$backpalette: #FDFFFD;
$colorpalette: #72BF56;

/********** VARIABLES **********/

$heightheader: 120px;
